<table [hidden]="delete_success">
  <tr>
    <td>
      <dl>
        <dt>Name</dt>
        <dd>{{developer.name}}</dd>
        <dt>Salary</dt>
        <dd>{{developer.salary}}</dd>
        <button (click)="editDeveloper(developer)">Edit Developer</button>
        <button (click)="deleteDeveloper(developer)">Delete Developer</button>
      </dl>
    </td>
  </tr>
</table>
